<h1>Indice de Regiones Militares</h1>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th><h2>Nombre</h2></th>
    </tr>
  </thead>

  <tbody>
    <% @region_militar.each do |region_militar| %>
      <tr>
        <td><%= link_to region_militar.nombre, region_militar %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

