<h1>Lista de Cuarteles</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cuarteles.each do |cuartel| %>
      <tr>
        <td><%= link_to cuartel.nombre, cuartel %></td>
        <td><%= link_to 'Editar', edit_cuartel_path(cuartel) %></td>
        <td><%= link_to 'Eliminar', cuartel, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuartel', new_cuartel_path %>
